*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}
/* Header Section Start */
header{
  padding: 30px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: #0B0223;
  font-size: 45px;
  font-weight: 700;
}
.logo img{
  width: 70px;
  height: 40px;
  padding: 0 10px;
}
span{
  color: #FF42A5;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  margin-right: 25px;
}
.navbar ul li a{
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
}
.follow-us{
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  margin-bottom: 30px;
}
.youtube{
  font-size: 22px;
  color: #F61C0D;;
}
.bxl-tiktok{
  color: #000;
}
/* Header Section End */

/* Banner Section Start */
section{
  padding: 0 140px;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text h2{
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.banner-text h1{
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; 
 margin-bottom: 20px; 
}
.banner-text h3{
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 15px;
}
.button{
  display: flex;
  gap: 20px;
}
.sign-in-btn{
  padding: 16px 40px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.rogue-btn{
  padding: 16px 40px;
  border: none;
  border-radius: 48px;
  background: #4EC5F7;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
  cursor: pointer;
}
.banner-img img{
  width: 550px;
}
/* Banner Section End */

/* We-are-gamer-Section Start */
.we-are-gamer{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.we-are-gamer-text{
  text-align: right;
}
.we-are-gamer-text h2{
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we-are-gamer-text p{
  color: #534C64;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; 
  margin-bottom: 10px;
}
.we-are-gamer-text button{
  display: inline-flex;
  padding: 16px 40px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  color: #FFF;
  font-size: 20px;
  font-weight: 600;;
  text-transform: uppercase;
}
.we-are-gamer-text h4{
  color: #534C64;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px; 
}
.we-are-gamer-img img{
  width: 650px;
  height: 470px;
}
/* We-are-gamer Section End */

/* Online Game Section Start */
.online-games{
  padding-top: 100px;
}
.online-games h1{
  color: #0B0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.color{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-games h5{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}
.online-games-iteam{
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,auto));
  gap: 20px;
 
}
.box{
  width: 100%;
}
.box img{
  width: 240px;
}
.box p{
  color: #534C64;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px; 
}
/* On Line Game Section End */

/* Play Instantly Section Start */
.play-instantly{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.play-instantly-text{
  text-align: right;
  padding-top: 100px;
}
.play-instantly-text h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 60px; 
}
.play-instantly-text p{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 350px;
}
.play-instantly-img img{
  width: 500px;
}
.img-2 img{
  width: 250px;
  position: relative;
  bottom: 220px;
  right: 90px;
  border-radius: 8px;
}
/* Play Instantly Section End */

/* Play Game Section Start */
.play-games{
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.play-games-img img{
  width: 450px;
  height: 500px;
}
.img2 img{
  width: 215px;
  height: 318px;
  position: relative;
  left: 280px;
  bottom: 180px;
}
.play-games-text{
  padding-top: 80px ;
}
.play-games-text h2{
  width: 426px;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; 
  text-align: center;
}
.play-games-text p{
  width: 450px;
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
  text-align: center;
}
/* Play Games Section End */

/* Carresrs Section Start */
.carresrs{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  display: flex;
  justify-content: space-between;
}
.carresrs-img img{
  width:550px;
  height: 550px;
}
.carresrs-text{
  margin: 50px 0px;
}
.carresrs-text h1{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; 
}
.carresrs-text p{
  width: 500px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.list{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.list-1 li{
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px; 
}
.list-2{
  color: #FFF;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px; 
}
/* Carrers Section End */

/* Game Iteam Section Start */
.game-iteam{
  margin-top: 40px;
}
.iteam{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.iteam a{
  display: flex;
  align-items: center;
  transition: all .30s ease;
}
.iteam a img{
  width: 40px;
}
.iteam a h5{
  color: #0B0223;
  font-size: 16px;
  margin-left: 6px;
}
#iteam{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.iteam a:hover {
  border: 2px solid #F61C0D;
  border-radius: 30px;
  padding: 5px 10px;
}
/* Game iteam Section End */

/* Footer Section Start */
.footer{
  margin-top: 150px;
  height: 400px;
  background: #0B0223;
  color: #fff;
  text-align: center;
}
.footer a{
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #FFF;
}
footer{
  padding-top:50px ;
}
nav{
  margin-top: 20px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  padding: 0px 20px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.social-icon{
  margin-top: 40px;
}
.social-icon i{
  font-size: 30px;
  padding: 0 10px;
}
.nav{
  margin-top: 40px;
}
.nav ul{
  display: flex;
  justify-content: center;
}
.nav ul li{
  padding: 0px 10px;
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  }
  footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 40px;
  }


/* Media Quary */
/* Mobile Device */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
  .navbar ul{
    flex-direction: column;
  }
  .navbar ul li{
    padding-top: 10px;
  }
  section{
    padding: 20px;
  }
  .banner{
    flex-direction: column;
  }
  .banner-text{
    order: 2;
    margin-top: 40px;
  }
  .banner-img img{
    max-width: 100%;
    width: 550px;
  }
  .we-are-gamer{
    padding: 20px;
    flex-direction: column;
  }
  .we-are-gamer-text{
    text-align: center ;
  }
  .we-are-gamer-img img{
    max-width: 100%;
    width: 650px;
  }
  .online-games{
    padding: 20px;
    text-align: center;
  }
  .online-games-iteam{
    grid-template-columns: 1fr;
  }
  .online-games-iteam img{
    max-width: 100%;
    width: 350px;
  }
  .play-instantly{
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .play-instantly-img img{
    max-width: 100%;
    width: 250px;
  }
  .play-instantly-text{
    text-align: center;
    margin: 0px 20px;
  }
  .play-instantly-text p{
    margin-left: 40px;
  }
  .img-2 img{
    width: 180px;
    right: 50px;
    bottom: 100px;
  }
  .play-games{
    flex-direction: column;
  }
  .play-games{
    padding: 20px;
    align-items: center;
  }
  .play-games-img{
    order: 2;
  }
  .play-games-img img{
    max-width: 100%;
    width: 300px;
    height: 300px;
  }
  .img2 img{
    left: 180px;
    bottom: 100px;
    width: 180px;
    height: 200px;

  }
  .carresrs{
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }
  .carresrs-text p{
    width: 399.444px;
    height: 286.678px;
    text-align: left;
  }
  .carresrs-img img{
    max-width: 100%;
    width: 500px;
  }
  .game-iteam{
    padding: 0px 20px;
  }
  .iteam{
    grid-template-columns: repeat(2,1fr);
  }
  .iteam a{
    padding-top: 20px;
  }
  #iteam{
    flex-wrap: wrap;
  }
  .footer{
    height: 500px;
  }
  nav ul li{
    padding-top: 10px;
  }
  nav ul{
    flex-wrap: wrap;
  }
  .nav ul{
    flex-wrap: wrap;
  }
  .nav ul li{
    padding-top: 20px;
  }
}